/* navbar */
body {
    background-color: rgb(175, 166, 166);
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: chartreuse;
}

.list li a:hover {
    color: black;
    background-color: rgb(230, 33, 33);
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
}

/* akhir navbar */

/* design jombootron */
.jumbotron {
    background-image: url('quran.png');
    box-sizing: border-box;
    padding-top: 70px;
    margin-bottom: 20px;
    color: white;
    transition: 0.5s;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.materi {
    position: relative;
    bottom: -30%;
    text-shadow: 2px 3px black;
}

/* akhir jubotron */

/* quran online */
.quran {
    height: 100vh;
}

/* akhir quran online */

/* design tombol atas */
.panah {
    border-radius: 50%;
    position: relative;
    height: 3.5rem;
    width: 4rem;
    position: fixed;
    left: 87%;
    top: 88%;
    box-shadow: 5px 5px 5px rgb(48, 45, 45);
    transition: 0.3s;
}

.panah:hover {
    padding: 3px;
    transition: 0.3s;
}

@media (max-width: 576px) {
    .panah {
        left: 83%;
        top: 78%;
        height: 3rem;
        width: 3.5rem;
    }
}

/* akhir tombol atas */




/* design footer */
.footer {
    background-color: rgb(77, 52, 52);
    background-color: #24262b;
    padding: 3px;
}

.konten-foot {
    position: relative;
    top: 40px;
}

.about {
    color: white;
}

.copy {
    position: relative;
    top: 26px;
    background-color: rgb(38, 49, 42);
    color: white;
    padding: 20px;
}

.logo-footer {
    position: relative;
    top: 60px;
}

.footer-list li a {
    text-decoration: none;
    transition: 0.5s ease;
}

.footer-list li a:hover {
    background-color: #ef4444;
    padding: 10px;
    transition: 0.5s ease;
    border-radius: 10px;
}

/* akhir footer */