/* navbar */
body {
    background-color: rgb(175, 166, 166);
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: chartreuse;
}
.list li a:hover {
    color: black;
    background-color: rgb(230, 33, 33);
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
}
/* akhir navbar */

/* design jombootron */
.jumbotron {
    background-image: url('../../assets/img/gallery/tajwid2.png');
    box-sizing: border-box;
    padding-top: 70px;
    margin-bottom: 20px;
    color: white;
    transition: 0.5s;
}
@media (max-width: 576px) {
    .banner {
        background-image: url('../../assets/img/gallery/tajwid2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat
    }
}
/* akhir jubotron */

/* design gallery */
#tron{
    position: relative;
    top: 50px;
}

img {
    max-width: 100%;
}

.gallery img {
    padding: 2px;
    cursor: pointer;
    background-color: #ffffff;
}

#gallery-modal .modal-img {
    width: 100%;
}
    /* akhir gallery */










    /* design footer */
    .footer {
        background-color: rgb(77, 52, 52);
        background-color: #24262b;
        padding: 3px;
    }
    
    .konten-foot {
        position: relative;
        top: 40px;
    }
    
    .about {
        color: white;
    }
    
    .copy {
        position: relative;
        top: 26px;
        background-color: rgb(38, 49, 42);
        color: white;
        padding: 20px;
    }
    
    .logo-footer {
        position: relative;
        top: 60px;
    }
    
    .footer-list li a {
        text-decoration: none;
        transition: 0.5s ease;
    }
    
    .footer-list li a:hover {
        background-color: #ef4444;
        padding: 10px;
        transition: 0.5s ease;
        border-radius: 10px;
    }
    /* akhir footer */